{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Content -->
<div id="content">


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Счета</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            {% for check in checks %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {{ check.name }}
                                </div>
                                {% if check.money %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ check.money }}₽
                                </div>
                                {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    0 ₽
                                </div>
                                {% endif %}
                            </div>
<!--                            Кнопки в счете-->

                            <div class="col-auto pl-1">
                                <a href="{% url 'check_transfer' pk=check.pk %}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" title="Перевод между счетами">
                                    <i class="fas fa-arrow-right fa-sm text-white-10"></i>
                                </a>
                            </div>
                            <div class="col-auto pl-1">
                                <a href="{% url 'check_update' pk=check.pk %}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm" title="Изменить счет">
                                    <i class="fas fa-edit fa-sm text-white-10"></i>
                                </a>
                            </div>
                            <div class="col-auto pl-1">
                                <a href="{% url 'check_delete' pk=check.pk %}"
                                   class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" title="Удалить счет">
                                    <i class="fas fa-trash fa-sm text-white-10"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <a href="{% url 'check_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i>
            </a>
        </div>
        </div>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Рассходы и доходы по категориям</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            {% for category in categories %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    {{ category.name }}
                                </div>
                                {% if category.payments_sum %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ category.payments_sum }}₽
                                </div>
                                {% else %}
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    0 ₽
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'payment_add' pk=category.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-light shadow-sm">
                                    <i class="fas fa-plus fa-sm text-white-10"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <a href="{% url 'category_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-10"></i>
                </a>
            </div>


        </div>

        <div class="row">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                    Рассходы
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% if total_sum %}
                                        {{ total_sum }} ₽
                                    {% else %}
                                    0р
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-solid fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Доходы
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {% if total_sum %}
                                        {{ total_sum }} ₽
                                    {% else %}
                                    0р
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-solid fa-money-bill fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <!-- Content Row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-6 mb-4">

                <!-- Illustrations -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">История</h6>
                    </div>
                    <div class="card-body">
                        {% for payment in payment_history %}
                            <div class="card shadow h-100 py-1 mb-1">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                <p>{{payment.category__name}}</p>
                                            </div>
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                                <p>{{payment.summa}} ₽</p>
                                            </div>
                                        </div>
                                        <div class="col-auto text-xs">
                                            <p>{{payment.data}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
<!-- End of Main Content -->
{% endblock%}